@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fafafa;
  --fg: #0a0a0a;
}

html, body {
  background: var(--bg);
  color: var(--fg);
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
